@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather:700');
body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
    color: #333;
}

.law{
    border-bottom: 1px solid lightgray;
    /* padding: 10px; */
    padding: 10px 40px 10px 40px;
    background-color: #efffff;
    background-color: #e3f0fc;
    font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Merriweather', serif;
}

.law[data-state-got-it="0"]{
    background-color: white;

}

.explainer, .chatter {
    color: #999;
    font-size: 11pt;
}

.chatter {
    color: #666;
}

.stat{
    background-color: white;
}

#controls {
    background-color: white;
    background-color: rgba(255,255,255,0.9);
    margin-top: 0px;
    width: 100%;
    min-height: 1em;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

.item:nth-child(1){
    padding-top: 2em;
}

#search {
    width: 50%;
}

